/* Basics */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: Arial, sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
}
::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}
::-webkit-scrollbar-track {
    background: #fff
}
::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}
 
/* Windows Phone Viewport Fix */
@-ms-viewport { 
    width: device-width; 
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

/* All styles */
ul {
    Margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Full width image */
/* .full-width-image img {
    width: 100%;
    height: auto;
} */

/* One column layout */
.inner {
    padding: 20px;
}
p {
    Margin: 0;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #177a93;
}
.h2 {
    font-weight: bold;
    color: #000000;
}
.one-column .contents {
    text-align: left;
}
.one-column .h2 {
    font-size: 25px;
    line-height: 29px;
    Margin-bottom: 0;
} 
.one-column p {
    font-size: 14px;
    line-height: 19px;
    Margin-bottom: 0;
}

/*Two column layout*/
.two-column {
    text-align: left;
    font-size: 0;
}
.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.contents {
    width: 100%;
}
.two-column .contents {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.two-column img {
    /* width: 100%; */
    width: auto;
    height: auto;
}
.two-column .text {
    padding-top: 24px;
} 

/* Header */
.header {
    height: 135px;
    background-image: url(images/bg/bg_top.png);
}
.logo {
    float: left;
}
.social {
    float: right;
    padding-top: 18px;
    padding-right: 12px;
}
.social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.social li:last-child {
    margin-right: 0;
}

/* Invitation */
.one-column--invitation {
    padding-top: 20px;
    padding-bottom: 32px;
}
.one-column--invitation .h2 {
    Margin-bottom: 22px;
}

/* Bonuses */
.one-column--bonuses .inner {
    padding-top: 0;
    padding-bottom: 0;
}
.two-column--bonuses .icon {
    height: 76px;
}
.two-column--bonuses strong {
    text-transform: uppercase;
}