/* Basics */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: Arial, sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
}
::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}
::-webkit-scrollbar-track {
    background: #fff
}
::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}
 
/* Windows Phone Viewport Fix */
@-ms-viewport { 
    width: device-width; 
}

.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

/* All styles */
ul {
    Margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Full width image */
.full-width-image {
    padding-left: 10px;
    padding-right: 10px;
}
.full-width-image img {
    width: 100%;
    height: auto;
}  

/* One column layout */
.inner {
    padding: 20px;
}
p {
    Margin: 0;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #177a93;
}
.h2 {
    font-weight: bold;
    color: #000000;
}
.one-column .contents {
    text-align: left;
}
.one-column .h2 {
    font-size: 25px;
    line-height: 29px;
    Margin-bottom: 0;
} 
.one-column p {
    font-size: 14px;
    line-height: 19px;
    Margin-bottom: 0;
}

/*Two columns layout*/
.two-column {
    text-align: left;
    font-size: 0;
}
.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}
.contents {
    width: 100%;
}
.two-column .contents {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.two-column img {
    /* width: 100%; */
    width: auto;
    height: auto;
}
.two-column .text {
    padding-top: 24px;
}

/*Three columns layout*/
.three-column {
    text-align: left;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column .contents {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.three-column img {
    /* width: 100%; */
    width: auto;
    height: auto;
}
.three-column .text {
    padding-top: 24px;
}

/* Left sidebar layout */
.left-sidebar {
    font-size: 0;
}
.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.left-sidebar .left {
    max-width: 180px;
}
.left-sidebar .right {
    max-width: 400px;
}
.left-sidebar .contents {
    font-size: 14px;
}

/* Header */
.header {
    height: 135px;
    background-image: url(images/bg/bg_top.png);
}
.logo {
    float: left;
}
.social {
    float: right;
    padding-top: 18px;
    padding-right: 12px;
}
.social li {
    display: inline-block;
    vertical-align: top;
    Margin-right: 5px;
}
.social li:last-child {
    Margin-right: 0;
}

/* Invitation */
.one-column--invitation {
    padding-top: 20px;
    padding-bottom: 32px;
}
.one-column--invitation .h2 {
    Margin-bottom: 22px;
}

/* Bonuses */
.one-column--bonuses .inner {
    padding-top: 0;
    padding-bottom: 0;
}
.two-column--bonuses .icon {
    height: 76px;
}
.two-column--bonuses strong {
    text-transform: uppercase;
}

/* Expectation */
.one-column--expectation {
    padding-top: 10px;
}
.one-column--expectation .inner {
    padding-bottom: 0;
}
.three-column--expectation {
    padding-top: 0;
}
.three-column--expectation .icon {
    height: 74px;
}
.three-column--expectation strong {
    text-transform: uppercase;
}

/* Statistics */
.two-column--statistics .text {
    font-size: 10px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 0;
}
.two-column--statistics .text > p:first-child {
    padding-left: 25px;
}
.two-column--statistics em {
    display: inline-block;
    vertical-align: top;
    font-size: 46px;
    font-weight: 700;
    font-style: normal;
    line-height: 46px;
    padding-left: 5px;
    padding-right: 5px;
}
.two-column--statistics .inner {
    padding-right: 0;
}

/* Cases */
.one-column--cases-header {
    padding-top: 16px;
    padding-bottom: 5px;
}
.one-column--cases {
    padding-top: 6px;
    background-color: #efece7;
    border-bottom: 3px solid #ffffff;
}
.one-column--cases p {
    Margin-bottom: 22px;
}
.one-column--cases p:last-child {
    Margin-bottom: 6px;
}
.one-column--cases a {
    font-size: 18px;
}
.one-column--cases span {
    text-transform: uppercase;
}

/* Benefits */
.one-column--benefits {
  padding-top: 34px;  
}
.two-column--benefits .icon {
    height: 74px;
}
.two-column--benefits .text {
    padding-top: 35px;
}
.two-column--benefits strong {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    padding-bottom: 22px;
}
.two-column--benefits li {
    padding-bottom: 12px;
}

/* Connection */
.one-column--connection .contents {
    text-align: center;
}
.one-column--connection .text {
    padding-top: 15px;
}
.one-column--connection p {
    line-height: 20px;
}
.one-column--connection strong {
    text-transform: uppercase;
}

/* Price */
.one-column--price {
    padding-top: 12px;
    padding-bottom: 35px;
}

.one-column--price .h2 {
    Margin-bottom: 10px;
}

/* Contacts */
.one-column--contacts {
    height: 5px;
    background-image: url(images/bg/bg_bottom.png); 
}
.left-sidebar--contacts {
  background-color: #efece7; 
}
.left-sidebar--contacts .left {
    padding-top: 10px;
    padding-left: 20px;
}
.left-sidebar--contacts .right {
    padding-top: 10px;
}
.left-sidebar--contacts .right p {
    font-size: 12px;
    line-height: 20px;
}
.left-sidebar--contacts .right strong {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding-bottom: 5px;
}
.left-sidebar--contacts .right ul {
    padding-top: 20px;
}
.left-sidebar--contacts .right li {
    padding-bottom: 5px;
}
.left-sidebar--contacts .right b {
    color: #000000;
}