@-ms-viewport { 
  width: device-width; 
}

body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

table {
  Margin: 0;
  padding: 0;
}

img {
  display: block;
  border: 0;
}

.wrapper {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; 
}

.container {
  width: 100%;
  max-width: 600px;
  min-width: 320px;
  Margin: 0 auto;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight:700;
  line-height: 30px;
  color: #000000;
}

.inline-link {
  font-weight: 700;
  color: #177a93;
}

.uppercase {
  text-transform: uppercase;
}

.header-top {
  background-image: url(https://gracious-almeida-eaf155.netlify.com/images/bg/bg_header_top.png); 
}

.header-top--grey {
  background-image: none;
}

.header-bottom {
  background-image: url(https://gracious-almeida-eaf155.netlify.com/images/bg/bg_header_bottom.png); 
}

.header-bottom--grey {
  background-image: url(https://gracious-almeida-eaf155.netlify.com/images/bg/bg_header_bottom_grey.png);
}

.header-logo a {
  text-decoration: none;
}

.two-column {
  text-align: left;
  font-size: 0;
}

.two-column .column {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  vertical-align: top;
}

.two-column--promo .column {
  width: 100%;
  max-width: 270px;
  display: inline-block;
  vertical-align: top;
}

.three-column {
  text-align: left;
  font-size: 0;
}
.three-column .column {
  width: 100%;
  max-width: 180px;
  display: inline-block;
  vertical-align: top;
}

.three-column--contacts .column {
  width: 100%;
  max-width: 160px;
  display: inline-block;
  vertical-align: top;
}

.left-sidebar {
  text-align: center;
  font-size: 0;
}

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.left-sidebar--diagrams .left {
  max-width: 370px;
}

.left-sidebar--diagrams .right {
  max-width: 170px;
}

.contacts-top {
  background-image: url(https://gracious-almeida-eaf155.netlify.com/images/bg/bg_contacts_top.png); 
}

.left-sidebar--contacts .left {
  max-width: 180px;
}

.left-sidebar--contacts .right {
  max-width: 360px;
}

.left-sidebar--advantages .left {
  max-width: 165px;
}

.left-sidebar--advantages .right {
  max-width: 375px;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 600px!important;
  }
}

@media only screen and (max-device-width: 600px),
       only screen and (max-width: 600px) {
  table[class="container"] {
    width: 100%!important;
  }
}